.circleBackground,
.circleProgress {
  fill: none;
}

.circleBackground {
  stroke: #eaedf3;
}

.circleProgress {
  stroke: #2091f3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circleText {
  font-size: 3em;
  font-weight: bold;
  fill: red;
}
