.header {
  align-items: center;
  background-color: #607d8b;
  display: flex;
  height: 30px;
  justify-content: center;
  position: relative;
}

.name {
  color: white;
}

.rightActions {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 12px;
  top: 0;
}

.leftActions {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 12px;
  top: 0;
}

.settings {
  -webkit-app-region: no-drag;
  cursor: pointer;
  outline: none;

  i {
    pointer-events: none;
  }
}

.quit {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  opacity: 0.75;
  outline: none;
  width: 30px;

  &:hover {
    opacity: 1;
  }
}

.dragZone {
  -webkit-app-region: drag;
  align-items: center;
  background-color: #607d8b;
  display: flex;
  justify-content: space-between;
}

.windowsControls {
  -webkit-app-region: no-drag;
  font-size: 10px;

  button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 32px;
    outline: none;
    transition: 0.2s ease all;
    width: 46px;

    span {
      font-family: 'Segoe UI', sans-serif;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.close {
  &:hover {
    background-color: #f1707a !important;
  }
}

.windowsTitle {
  color: #fff;
  font-size: 16px;
  margin-left: 12px;

  i {
    margin-right: 6px;
  }
}

.controls {
  align-items: center;
  display: flex;
}

.otherControls {
  margin-right: 6px;
}

.divider {
  background-color: #fff;
  height: 18px;
  margin: 0 6px;
  opacity: 0.5;
  width: 1px;
}
