.container {
  background-color: #F44336;
  color: white;
  display: flex;
  font-size: 14px;
  left: 0;
  padding: 6px 12px;
  position: absolute;
  right: 0;
  top: 0;
}

.message {
  font-size: 14px;
  margin-left: 12px;
}
