.disconnectModal {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 12px;
}

.disconnectModal,
.overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 30;
}
.overlay {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  z-index: -1;
}

.modal {
  align-items: center;
  background-color: #303537;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 24px;
  position: relative;
  z-index: 1;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.subtitle {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 24px;
  text-align: center;
}

.status {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 24px;
  text-align: center;
}

.retry {
  background-color: #2091f3;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.9;
  outline: none;
  padding: 10px 18px;
  transition: 0.2s ease all;

  &:hover {
    opacity: 1;
  }
}
