.list {
  background-color: #fcfcfc;
  height: 360px;
  overflow-y: scroll;
}

.title {
  font-weight: 600;
  padding: 12px;
}

.empty {
  background-color: #efefef;
  font-size: 14px;
  height: 312px;
  opacity: 0.6;
  padding: 24px;
  text-align: center;
}
