.row {
  background-color: #fcfcfc;
  padding: 12px;
  transition: 0.2s ease all;

  &:hover {
    background-color: #fff;
  }
}

.top,
.bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.info,
.actions {
  display: flex;
}

.name {
  margin-left: 12px;
}

.download,
.delete {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  height: 25px;
  justify-content: center;
  outline: none;
  padding: 0 8px;
  transition: 0.2s ease all;
  width: 25px;

  &:hover {
    color: #fff;
    background-color: #ff5252;
  }
}

.download {
  color: #000;
  margin: 0 6px;

  &:hover {
    background-color: #efefef;
    color: #4caf50;
  }
}

.queued {
  font-size: 12px;
  margin-top: 6px;
  opacity: 0.3;
  text-align: center;
  width: 100%;
}

.expiry,
.size {
  font-size: 12px;
  opacity: 0.4;
}
