.linkModal {
  align-items: center;
  display: none;
  justify-content: center;
  padding: 12px;
}

.linkModal,
.overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 14;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.8);
  outline: none;
  width: 100%;
  z-index: -1;
}

.modal {
  align-items: center;
  background-color: #303537;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 24px;
  position: relative;
  z-index: 1;
}

.close {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  display: flex;
  font-size: 15px;
  justify-content: center;
  height: 24px;
  outline: none;
  position: absolute;
  right: 6px;
  top: 6px;
  transition: 0.2s ease all;
  width: 24px;

  &:hover {
    background-color: #272A2B;
    color: #fff;
  }
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
  margin-top: 12px;
  text-align: center;
}

.subtitle {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 24px;
  text-align: center;
  width: 80%;
}

.input {
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  padding: 12px 6px;
  width: 100%;
}

.badgeNotification {
  background-color: #303537;
  border-radius: 24px;
  bottom: 24px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: #fff;
  opacity: 0;
  padding: 6px 12px;
  position: absolute;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

  &.display {
    bottom: 36px;
    opacity: 1;
  }

  p {
    font-size: 12px;
    font-weight: bold;
  }
}
