.container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 12px;

  p {
    font-size: 12px;
    opacity: 0.5;
  }

  i {
    opacity: 0.2;
  }
}

.backgroundBar {
  background-color: #ddd;
  border-radius: 24px;
  height: 6px;
  margin: 0 12px;
  width: 100%;
}

.progress {
  background-color: #4caf50;
  border-radius: 24px;
  height: 6px;
}
