.upgradeModal {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 12px;
}

.upgradeModal,
.overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 14;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.8);
  outline: none;
  width: 100%;
  z-index: -1;
}

.modal {
  align-items: center;
  background-color: #303537;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 24px;
  position: relative;
  z-index: 1;
}

.close {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  display: flex;
  font-size: 15px;
  justify-content: center;
  height: 24px;
  outline: none;
  position: absolute;
  right: 6px;
  top: 6px;
  transition: 0.2s ease all;
  width: 24px;

  &:hover {
    background-color: #272A2B;
    color: #fff;
  }
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
  margin-top: 12px;
  text-align: center;
}

.description {
  font-size: 14px;
  font-weight: 100;
  margin: 0 -6px 24px -6px;
  text-align: center;
}

.open {
  background-color: #2091f3;
  border: 1px solid #2091f3;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.9;
  padding: 10px 18px;
  outline: none;
  transition: 0.2s ease all;

  &:hover {
    opacity: 1;
  }
}
