/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: Segoe UI;
  src: url(assets/fonts/segMDL2.ttf);
}

body {
  position: relative;
  color: black;
  height: 100vh;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  overflow: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 16px;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
