.row {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: space-between;
  outline: none;
  padding: 12px;
  transition: 0.3s ease all;

  &.active {
    background-color: rgba(32, 145, 243, 0.1);
  }
}

.left {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.img {
  background-color: transparent;
  border-radius: 50%;
  height: 36px;
  object-fit: cover;
  width: 36px;
}

.name {
  max-width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.imgPlaceholder {
  align-items: center;
  background-color: rgb(76, 175, 80);
  border-radius: 50%;
  display: flex;
  height: 36px;
  justify-content: center;
  margin-right: 12px;
  width: 36px;

  p {
    color: #fff;
    font-weight: 600;
  }
}

.fileInput {
  display: none;
}

.reject,
.accept {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 12px;
  opacity: 0.7;
  outline: none;
  transition: 0.2s ease all;

  &:hover {
    opacity: 1;
  }
}

.reject {
  color: #f44336;
  padding: 6px 8px;

  &:hover {
    background-color: rgba(244, 67, 54, 0.2);
  }
}

.accept {
  color: #4caf50;
  padding: 6px 7px;

  &:hover {
    background-color: rgba(76, 175, 80, 0.2);
  }
}
