.friends {
  background-color: #f9f9fb;
  height: 518px;
  overflow-y: scroll;
}

.list {
  display: flex;
  flex-direction: column;
}

.searchWrapper {
  padding: 12px;
}

.searchLabel {
  background-color: #eeeff1;
  border-radius: 6px;
  cursor: text;
  display: flex;
  padding: 12px;

  i {
    margin-right: 12px;
    opacity: 0.4;
  }

  input {
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 12px;
    opacity: 0.7;
    outline: none;
    width: 100%;
  }
}

.addIcon {
  align-items: center;
  background-color: #2091f3;
  border-radius: 50%;
  display: flex;
  height: 36px;
  justify-content: center;
  margin-right: 12px;
  width: 36px;

  i {
    color: #fff;
    font-size: 14px;
  }
}

.title {
  font-size: 12px;
  font-weight: bold;
  opacity: 0.4;
  padding: 12px;
}
