.friends {
  background-color: #fff;
  height: 518px;
  overflow-y: scroll;
}

.list {
  display: flex;
  flex-direction: column;
}

.searchWrapper {
  padding: 12px;
}

.searchLabel {
  background-color: rgba(96,125,139, 0.1);
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: text;
  display: flex;
  padding: 12px;
  transition: 0.2s ease all;

  &:focus-within {
    border-color: #2091f3;
    background-color: #fff;

    input {
      background-color: #fff;
    }

    i {
      color: #2091f3;
      opacity: 0.8;
    }
  }

  i {
    margin-right: 12px;
    opacity: 0.4;
    transition: 0.2s ease all;
  }

  input {
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 12px;
    opacity: 0.7;
    outline: none;
    transition: 0.2s ease all;
    width: 100%;
  }
}

.addIcon {
  align-items: center;
  background-color: #2091f3;
  border-radius: 12px;
  display: flex;
  height: 36px;
  justify-content: center;
  margin-right: 12px;
  width: 36px;

  i {
    color: #fff;
    font-size: 14px;
  }
}

.title {
  font-size: 12px;
  font-weight: bold;
  opacity: 0.4;
  padding: 12px;
}
