.container {
  height: 100%;
}

.list {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  outline: none;
  padding: 0 18px;
  position: relative;
}

.title {
  font-weight: 600;
  padding: 12px;
}

.dropOverlay {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); // rgba(0, 0, 0, 0.6);
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  p {
    // color: #fff;
  }

  b {
    color: #2091f3;
  }
}
