.container {
  height: 100%;
}

.topText {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fileLabel {
  text-align: center;

  span {
    color: #2091f3;
    cursor: pointer;
  }

  input {
    visibility: hidden;
  }
}

.dropdownButton {
  align-items: center;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 24px;
  font-weight: 500;
  justify-content: center;
  margin: 6px 0;
  outline: none;
  padding: 0 12px;

  i {
    font-size: 18px;
    margin-left: 6px;
    margin-top: 4px;
    transition: 0.2s ease all;
  }
}

.menu {
  background-color: #303537;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.menu:after {
  bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(48, 53, 55, 0);
	border-bottom-color: #303537;
	border-width: 8px;
	margin-left: -8px;
}

.menuButton {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  padding: 10px 18px;

  i {
    font-size: 10px;
    margin-left: 3px;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.iconRot {
  transform: rotate(180deg);
}
