.container {
  height: 100%;
}

.topText {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fileLabel {
  padding-top: 12px;
  text-align: center;

  span {
    color: #2091f3;
    cursor: pointer;
  }

  input {
    visibility: hidden;
  }
}
