.filesModal {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 12px;
}

.filesModal,
.overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 14;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.8);
  outline: none;
  width: 100%;
  z-index: -1;
}

.modal {
  background-color: #303537;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.close {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  display: flex;
  font-size: 15px;
  justify-content: center;
  height: 24px;
  outline: none;
  right: 6px;
  top: 6px;
  transition: 0.2s ease all;
  width: 24px;

  &:hover {
    background-color: #272A2B;
    color: #fff;
  }
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.title {
  font-size: 14px;
  font-weight: 600;
  max-width: 248px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.divider {
  background-color: rgba(255, 255, 255, 0.15);
  height: 1px;
  width: 100%;
}

.files {
  max-height: 180px;
  overflow: scroll;
  padding: 12px;
  padding-bottom: 0;
}

.row {
  align-items: center;
  display: flex;
  margin-bottom: 12px;
}

.square {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: center;
  margin-right: 12px;
  position: relative;
  width: 30px;
}

.innerSquare {
  background-color: #536DFE;
  border-radius: 6px;
  bottom: 0;
  left: 0;
  opacity: 0.25;
  position: absolute;
  right: 0;
  top: 0;
}

.name {
  font-size: 14px;
  max-width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
